#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "wallabag2"
name = "Wallabag"
description.en = "Save and classify articles. Read them later"
description.fr = "Enregistrez et classez les articles. Lisez-les plus tard"

version = "2.6.13~ynh1"

maintainers = ["lapineige"]

[upstream]
license = "MIT"
website = "https://www.wallabag.org"
demo = "https://demo.yunohost.org/wallabag/"
admindoc = "https://doc.wallabag.org/en/"
code = "https://github.com/wallabag/wallabag"
cpe = "cpe:2.3:a:wallabag:wallabag"
fund = "https://liberapay.com/wallabag"

[integration]
yunohost = ">= 12.0.9"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = true
sso = true

disk = "200M"
ram.build = "150M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/wallabag"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.admin]
    type = "user"

[resources]
    [resources.sources.main]
    url = "https://github.com/wallabag/wallabag/releases/download/2.6.13/wallabag-2.6.13.tar.gz"
    sha256 = "1a79d70279fc8ea9ddcb7182ae8bee4b975d77365b4bf4675fc24be72355a696"

    autoupdate.strategy = "latest_github_release"
    autoupdate.asset = ".*\\.tar\\.gz"

    [resources.system_user]
    allow_email = true

    [resources.install_dir]
    group = "www-data:r-x"

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages = [
        "mariadb-server",
        "php8.4-cli",
        "php8.4-curl",
        "php8.4-gd",
        "php8.4-gettext",
        "php8.4-intl",
        "php8.4-json",
        "php8.4-ldap",
        "php8.4-mbstring",
        "php8.4-mysql",
        "php8.4-redis",
        "php8.4-tidy",
        "php8.4-xml",
    ]

    [resources.database]
    type = "mysql"
